<div class="detail-container">
  <article class="minor-details">
    <h1 class="page-title"> Movie Details </h1>
    <section class="meta-title">Title</section>
    <span class="movie-meta"> {{ data.meta.title }} </span>
    <section class="meta-title">Language</section>
    <span class="movie-meta"> {{ data.meta.original_language }} </span>
    <section class="meta-title">Budget</section>
    <span class="movie-meta">{{ data.meta.budget }} </span>
    <section class="meta-title">Release-date</section>
    <span class="movie-meta"> {{ data.meta.release_date }} </span>
    <section class="meta-title">Overview</section>
    <span class="movie-meta"> {{ data.meta.overview }} </span>
  </article>
  <article class="movie-poster-full">
    <img src="{{ data.image }}" alt="">
  </article>
</div>
